.tooltip {
  position: absolute;
  width: 150px;
  height: 90px;

  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #ca33b1;
  border: 0;
  border-radius: 15px;
}

.axisText {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  fill: seagreen;
  text-anchor: middle;
}
