.tooltip {
  position: absolute;
  width: 150px;
  height: 90px;

  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #ca33b1;
  border: 0;
  border-radius: 15px;
}

.axisText {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  fill: seagreen;
  text-anchor: middle;
}
p {
  color: rgb(78, 93, 119);
  font-family: Calibri;
  font-size: 20px;
  text-align: justify;
  margin-left: 30px;
  }

  img{
    margin-right: 30px;
  }

  .line {
    fill: none;
    stroke-width: 2px;
    stroke:cadetblue;
  }

  .active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  .inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }