<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cinema vs Streaming</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">CACE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cinema">Cinemas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="streaming">Streaming<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cinemaMap">Cinemas Map</a>
        </li>
      </ul>
    </div>
  </nav>
</head>




<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 class="ml6">
          <span class="text-wrapper">
            <span class="letters">Cinemas or Streaming?</span>
          </span>
        </h1>
        <p style="text-align:center; color: white; font-size: 18px;">Use the interactive charts below to explore the
          dataset</p>
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 style="font-size: 15px; text-align: center; ">Cinema Ticket Price vs Streaming Price</h4>
        <div id="chart-cs"></div>
        <br>
        <h4 style="font-size: 15px; text-align: center; font-style: italic;">Move your cursor to the circle labels to

          display info</h4>
        <br>
        <p>According Screen Australia, the average cinema ticket price was $15.24 in 2021 while our data shows the
          average price for streaming services is $11.91. There are plenty of fees for
          streaming platforms to compete for the eyeball. This chart compares the streaming provider's fee and their
          number of simultanceous streams. In terms of pricing, cinema ticket price is definitely competitive and not
          the reason cinema-goers will be detered by. The restriction and health protocol does accelerate the
          adoption of signing up streaming services while we cannot physically go to cinema. </p>
        <p> </p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="chart-ew"></div>
        <h4 style="font-size: 15px; text-align: center; font-style: italic;">Select Releases, Subscribers or Frequency to view accordingly</h4>
        <br>
        <p>We asked the question - How do boxoffice movie releases compare to how often people attend the cinema per person per year and how does 
          the number of subscribers to streaming services compare to that? The graph indicates a steady release of boxoffice movies until 2020 when 
          Covid hit with between 800 and 1000 releases per year. Up until 2020 the frequency of how often people would go to the movies amounted 
          to between 6-7 times per year. There was a sharp decline in 2020 due to Covid restictions and temporary shut downs due to 
          social distancing measures. Streaming services entered the stage in 2017 since then the number of streaming service subscribers has 
          exploded to over 30 million subscribers. In summary the number of box office released are relatively similar throughout 2016-2019 and so is the frequency of
          attendance per person per year whilst the streaming numbers are growing.</p>
      </div>
    </div>



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script src="{{ url_for('static', filename='js/cs_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ew_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


    <!--<script src="{{ url_for('static', filename='js/price.js') }}"></script>-->

</body>


</html>