<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cinema vs Streaming</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CACE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cinema">Cinemas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="streaming">Streaming<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cinemaMap">Cinemas Map</a>
        </li>
      </ul>
    </div>
  </nav>
</head>




<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 class="ml6">
          <span class="text-wrapper">
            <span class="letters">Cinemas or Streaming?</span>
          </span>
        </h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="chart-cs"></div>
        <p>According Screen Australia, the average cinema ticket price was $15.24 in 2021. There are plenty of fee for streaming platforms to compete for the eyeball. This chart compares the streaming provider's fee and their number of simultanceous streams.
          In terms of pricing, cinema ticket price is definitely competitive and not the reason cinema-goers goers will be detered by. The restriction and health protocool does excelerate the adoption of signing up streaming services while we cannot phyiscally go to cinema. 
          Online streaming offerings and Cinemas are not muturally exclusive options. Whilst online streaming does introduce competition, but it can never replace the cinema experience. Consumers utlimatly have the benefit of choosing their interested content and make switches whenever they want.

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="chart-ew"></div>
        <p></p>
      </div>
    </div>



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script src="{{ url_for('static', filename='js/cs_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ew_chart.js') }}"></script>



    <!--<script src="{{ url_for('static', filename='js/price.js') }}"></script>-->

</body>


</html>